@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1f2328;
  --secondary-color: #656d76;
  --blue-color: #0869da;
  --red-color: #fd8c73;
  --border-color: #d0d7de;
  --background-color: #ffffff;
  --background-accent-color: #f6f8fa;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}
